$niceFont: 'Raleway', sans-serif;

html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e6e9ec;

    body {
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #e6e9ec;
    }
    
    p {
        font-family: $niceFont;
        color: green;
    }
}

#container {
    min-height: 100%;
    position: relative;
}

#container {
    * {
        overflow: hidden;
        text-align: center;
        position: relative;
    }
}

.header_body {
    height: 63px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
}

.header_icon {
    width: 63px;
    height: 63px;
    float: left;
}

.header_btn {
    float: right;
    height: 100%;
    width: 60%;
}

.header_btn_ting {
    float: right;
    width: 20%;
    height: 100%;
}

input[type=header] {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;

    &:hover {
        background-color: #2e2e2e;
    }
}

input[type=lesmercard] {
    width: 100px;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;

    &:hover {
        background-color: #2e2e2e;
    }
}

#index_main_body {
    width: 100%;
    height: auto;
    div {
        margin-bottom: 5%;
    }
}

#index_main_body_top {
    position: relative;
    width: 100%;
    min-height: 500px;
}

#index_main_body_top_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.index_main_body_top_text {
    font-family: 'Raleway', sans-serif;
    color: white;
    position: absolute;
    top: 200px;
    width: 100%;
    z-index: 100;
}

.span_text {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    padding: 8px;
    display: inline-block;
}

#index_main_body_lesmer {
    margin: auto;
    width: auto;
    position: relative;
}

.index_main_body_lesmercard {
    min-width: 15%;
    position: relative;
    display: inline-block;
}

//Slideshow

* {
    box-sizing: border-box;
}

.slideshowContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.slidertext {
    font-family: $niceFont;
    font-size: 32px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    color: white;
}

.previousSlide, .nextSlide {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.nextSlide {
    right: 0;
    border-radius: 3px 0 0 3px;
}

//Slideshow fade animation

@mixin animation-name($name) {
    -webkit-animation-name: $name;
    animation-name: $name;
}

@mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
    animation-duration: $duration;
}

.fadeout {
    @include animation-name(fadeout);
    @include animation-duration(2s);
}

@-webkit-keyframes fadeout {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fadeout {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}